// Optional: set Alloy log level
logging {
  level = "warn"
}

loki.write "loki" {
  endpoint {
    url = "{{ grafana_loki_endpoint }}/loki/api/v1/push"
  }
}

// Relabel component using labelmap to extract headers automatically
loki.relabel "syslog" {
  forward_to = [loki.write.loki.receiver]

  // Automatically convert internal __syslog_* labels to normal labels
  rule {
    action = "labelmap"
    regex  = "__syslog_(.+)"
  }

  // Optionally, labelmap any message_* labels if needed
  rule {
    action = "labelmap"
    regex  = "message_(.+)"
  }
}

loki.source.syslog "syslog_udp" {
  listener {
    address = "0.0.0.0:1514"
    protocol = "udp"
    syslog_format = "rfc5424"
    use_rfc5424_message = true
    labels = {"job" = "syslog"}
  }

  relabel_rules = loki.relabel.syslog.rules
  forward_to = [loki.relabel.syslog.receiver]
}

loki.source.journal "host" {
  forward_to = [loki.relabel.journal.receiver]
}

loki.relabel "journal" {
  forward_to = [loki.write.loki.receiver]

  rule {
    target_label = "job"
    replacement  = "journal"
  }

  rule {
    target_label = "hostname"
    replacement  = constants.hostname
  }
}
