services:
  upsnap:
    container_name: upsnap
    image: ghcr.io/seriousm4x/upsnap:5.2.5@sha256:ca271a7c9260967cb85ffc5a02ce8e28a267476c6610a25f21dc4929d404e682
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./upsnap/data:/app/pb_data
    environment:
     - TZ={{ host_timezone }}
     - UPSNAP_SCAN_RANGE=10.13.37.0/24 # Scan range is used for device discovery on local network
     - UPSNAP_SCAN_TIMEOUT=500ms # Scan timeout is nmap's --host-timeout value to wait for devices (https://nmap.org/book/man-performance.html)
     - UPSNAP_PING_PRIVILEGED=true # Set to false if you don't have root user permissions
    dns:
      - 10.13.37.2
      - 10.13.37.48
    entrypoint: /bin/sh -c "./upsnap serve --http 0.0.0.0:5483"
    healthcheck:
      test: curl -fs "http://localhost:5000/api/health" || exit 1
      interval: 10s
