services:
  web:
    image: ghcr.io/karakeep-app/karakeep:release@sha256:bbdc3274bbe510cac32551b2a8825019f61d23c261ddb8baa9bb4311caed31c4
    container_name: hoarder-web
    networks:
      - proxy
    restart: unless-stopped
    volumes:
      - ./karakeep/data:/data
    environment:
      - DATA_DIR=/data
      - HOARDER_VERSION=release
      - NEXTAUTH_SECRET={{ KARAKEEP_NEXTAUTH_SECRET }}
      - MEILI_MASTER_KEY={{ KARAKEEP_MEILI_MASTER_KEY }}
      - NEXTAUTH_URL=https://{{ KARAKEEP_HOST }}
      - DISABLE_SIGNUPS=true
      - OAUTH_CLIENT_SECRET={{ KARAKEEP_OAUTH_CLIENT_SECRET }}
      - OAUTH_CLIENT_ID={{ KARAKEEP_OAUTH_CLIENT_ID }}
      - OAUTH_WELLKNOWN_URL=https://{{ AUTHENTIK_HOST }}/application/o/hoarder/.well-known/openid-configuration
      - OAUTH_PROVIDER_NAME=Authentik
      - OAUTH_SCOPE=openid email profile
      - MEILI_NO_ANALYTICS=true
      - MEILI_ADDR=http://hoarder-meilisearch:7700
      - BROWSER_WEB_URL=http://hoarder-chrome:9222
      - OLLAMA_BASE_URL=https://ollama.{{ TRAEFIK_HOST_DOMAIN }}
      - INFERENCE_TEXT_MODEL=gemma2:2b
      - INFERENCE_IMAGE_MODEL=gemma2:2b
      - INFERENCE_JOB_TIMEOUT_SEC=60
      - EMBEDDING_TEXT_MODEL=gemma2:2b
    labels:
      - traefik.enable=true
      - traefik.http.routers.hoarder.entrypoints=https
      - traefik.http.routers.hoarder.rule=Host(`{{ KARAKEEP_HOST }}`)
      - traefik.http.services.hoarder.loadbalancer.server.port=3000
      - traefik.http.routers.hoarder.middlewares=default-headers@file
      - traefik.http.routers.hoarder.tls=true
  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:124@sha256:1a0046448e0bb6c275c88f86e01faf0de62b02ec8572901256ada0a8c08be23f
    restart: unless-stopped
    container_name: hoarder-chrome
    networks:
      - proxy
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
  meilisearch:
    container_name: hoarder-meilisearch
    networks:
      - proxy
    environment:
      - MEILI_NO_ANALYTICS=true
      - MEILI_ADDR=http://hoarder-meilisearch:7700
      - MEILI_MASTER_KEY={{ KARAKEEP_MEILI_MASTER_KEY }}
    image: getmeili/meilisearch:v1.13.3@sha256:bed3fb650e62da53145777204891159242f6ea4ce69e215b36223af4aa64a0ae
    restart: unless-stopped
    volumes:
      - ./karakeep/meilisearch:/meili_data

networks:
  proxy:
    external: true
