---

- name: Make sure the installation path exists.
  ansible.builtin.file:
    path: "/home/{{ admin_username }}/.local/bin"
    state: directory
    owner: "{{ admin_username }}"
    group: "{{ admin_username }}"
    mode: '0755'

- name: Install dependencies.
  become: true
  block:

    - name: Get latest regctl download URL.
      when: not ansible_check_mode
      ansible.builtin.uri:
        url: https://api.github.com/repos/regclient/regclient/releases/latest
        return_content: true
      check_mode: false
      register: regctl_latest

    - name: "Installing regctl {{ regctl_latest.json.tag_name }}"
      loop: "{{ regctl_latest.json.assets }}"
      check_mode: false
      when:
        - not ansible_check_mode
        - regctl_latest is defined
        - regctl_latest.json is defined
        - "'regctl-linux-amd64' in item.name"
      ansible.builtin.get_url:
        url: "{{ item.browser_download_url }}"
        dest: "/home/{{ admin_username }}/.local/bin/regctl"
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        mode: "0755"

    - name: Install jq.
      ansible.builtin.package:
        name: jq
        state: latest

# Might as well exclude this entire block during check_mode, since it all depends upon the .local/bin directory being created beforehand.
- name: Dockcheck installation.
  when: not ansible_check_mode
  become: true
  block:

    - name: Check if the Dockcheck script exists already.
      ansible.builtin.stat:
        path: "/home/{{ admin_username }}/.local/bin/dockcheck.sh"
      register: dc_exist

    - name: Download the Dockcheck script from Github.
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/mag37/dockcheck/main/dockcheck.sh
        dest: "/home/{{ admin_username }}/.local/bin/dockcheck.sh"
        mode: '0755'
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        force: no
      when: not dc_exist.stat.exists or dockcheck_force_update

    - name: Copy the dockcheck.config file template.
      ansible.builtin.template:
        src: dockcheck.config.j2
        dest: "/home/{{ admin_username }}/.local/bin/dockcheck.config"
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        mode: '0744'

    - name: Set path for notification templates directory.
      ansible.builtin.set_fact:
        dockcheck_notify_dir: "/home/{{ admin_username }}/.local/bin/notify_templates"

    - name: Check if notification templates directory already exists.
      ansible.builtin.stat:
        path: "{{ dockcheck_notify_dir }}"
      register: notify_dir

    - name: Create notifications template directory.
      ansible.builtin.file:
        path: "/home/{{ admin_username }}/.local/bin/notify_templates"
        state: directory
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        mode: '0755'
      when: not notify_dir.stat.exists

    - name: Check if notification templates already exist
      ansible.builtin.stat:
        path: "/home/{{ admin_username }}/.local/bin/notify_templates/{{ item }}"
      register: template_files
      loop: "{{ dockcheck_notify_templates }}"

    - name: Download notification templates for SMTP and Discord
      ansible.builtin.get_url:
        url: "{{ item.item }}"
        dest: "/home/{{ admin_username }}/.local/bin/notify_templates"
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        mode: '0744'
        force: no
      loop: "{{ template_files.results }}"
      when: 
        - not item.stat.exists 

- name: Install msmtp.
  ansible.builtin.package:
    name:
      - msmtp
      - msmtp-mta
    state: present

- name: Configure msmtp.
  ansible.builtin.template:
    src: msmtprc.j2
    dest: "/home/{{ admin_username }}/.msmtprc"
    owner: "{{ admin_username }}"
    group: "{{ admin_username }}"
    mode: '0600'

- name: Create a cron job to automatically run dockcheck.
  ansible.builtin.cron:
    name: Dockcheck.sh
    weekday: "{{ dockcheck_cron.weekday }}"
    minute: "{{ dockcheck_cron.minute }}"
    hour: "{{ dockcheck_cron.hour }}"
    user: "{{ admin_username }}"
    job: "/home/{{ admin_username }}/.local/bin/dockcheck.sh -i"
