---

- name: Check if the AdGuardHome binary is already installed.
  ansible.builtin.stat:
    path: "{{ adguard_home_install_dir }}/AdGuardHome"
  register: adguard_binary

- name: Install AdGuardHome.
  when: not adguard_binary.stat.exists
  block:
    - name: Download AdGuard Home from static releases link.
      ansible.builtin.get_url:
        url: https://static.adguard.com/adguardhome/release/AdGuardHome_linux_amd64.tar.gz
        dest: "{{ adguard_home_download_location }}"
        mode: '0644'

    - name: Create the AdGuardHome install directory.
      ansible.builtin.file:
        path: "{{ adguard_home_install_dir }}"
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Extract the AdGuardHome tarball.
      ansible.builtin.unarchive:
        remote_src: true
        src: "{{ adguard_home_download_location }}"
        dest: "/opt"
        owner: root
        group: root
        mode: '0755'
      when: not ansible_check_mode

- name: Make sure that the AdGuardHome binary is set to executable.
  ansible.builtin.file:
    path: "{{ adguard_home_install_dir }}/AdGuardHome"
    owner: root
    group: root
    mode: '0755'
  when: not ansible_check_mode

- name: Create the AdGuardHome systemd service.
  ansible.builtin.template:
    src: AdGuardHome.service.j2
    dest: /etc/systemd/system/AdGuardHome.service
    owner: root
    group: root
    mode: '0644'
  notify:
    - reload systemd
    - enable and start AdGuardHome
