---
services:
  traefik:
    image: traefik:v3.6.7@sha256:a9890c898f379c1905ee5b28342f6b408dc863f08db2dab20e46c267d1ff463a
    container_name: ${TRAEFIK_CONTAINER_NAME:-traefik}
    restart: ${TRAEFIK_RESTART:-unless-stopped}
    mem_limit: ${TRAEFIK_MEM_LIMIT:-100m}
    networks:
      - traefik
    extra_hosts:
      - host.docker.internal:172.17.0.1
    ports:
      - 80:80
      - 443:443
    environment:
      - CF_API_EMAIL={{ CF_API_EMAIL }}
      - CF_DNS_API_TOKEN={{ CF_DNS_API_TOKEN }}
    volumes:
      - /apps/traefik/letsencrypt:/letsencrypt
      - /apps/traefik/data:/data
      - /etc/localtime:/etc/localtime:ro
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - --api
      - --api.insecure=${TRAEFIK_API_INSECURE:-true}
      - --api.dashboard=false
      - --log.level=ERROR
      - --accesslog=true
      - --entryPoints.metrics.address=:8082
      - --metrics.prometheus.entryPoint=metrics
      - --providers.docker
      - --providers.file.watch=true
      - --providers.file.directory=/data
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains[0].main={{ APP0_HOST_DOMAIN }}
      - --entrypoints.websecure.http.tls.domains[0].sans=*.{{ APP0_HOST_DOMAIN }}
      - --serverstransport.insecureskipverify=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=${DNS_CHALLENGE_PROVIDER:-cloudflare}
      - --certificatesresolvers.letsencrypt.acme.email={{ CF_API_EMAIL }}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --certificatesResolvers.letsencrypt.acme.dnsChallenge.delayBeforeCheck=120
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,1.0.0.1:53
      - --certificatesresolvers.letsencrypt.acme.caserver=https://acme-v02.api.letsencrypt.org/directory
    labels:
      - joyride.host.name=onramp.{{ APP0_HOST_DOMAIN }}
      - traefik.http.routers.traefik.rule=Host(`onramp.{{ APP0_HOST_DOMAIN }}`)  && (PathPrefix(`/traefik`) || PathPrefix(`/api`))
      - traefik.http.routers.traefik.middlewares=traefik_strip
      - traefik.http.middlewares.traefik_strip.stripprefix.prefixes=/traefik
      - traefik.enable=true
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.rule=Host(`onramp.{{ APP0_HOST_DOMAIN }}`)

  uptime-kuma:
      image: louislam/uptime-kuma:${UPTIMEKUMA_DOCKER_TAG:-latest}
      container_name: ${UPTIMEKUMA_CONTAINER_NAME:-uptimekuma}
      restart: unless-stopped
      mem_limit: ${UPTIMEKUMA_MEM_LIMIT:-500m}
      networks:
        - traefik
      volumes:
        - /apps/uptime-kuma:/app/data
        - ${UPTIMEKUMA_DOCKER_SOCKET:-/var/run/docker.sock}:/var/run/docker.sock
      environment:
        - TZ={{ host_timezone }}
      labels:
        - joyride.host.name=${UPTIMEKUMA_HOST_NAME:-uptimekuma}.{{ APP0_HOST_DOMAIN }}
        - traefik.enable=${UPTIMEKUMA_TRAEFIK_ENABLE:-true}
        - traefik.http.routers.uptimekuma.entrypoints=websecure
        - traefik.http.routers.uptimekuma.rule=Host(`${UPTIMEKUMA_HOST_NAME:-uptimekuma}.{{ APP0_HOST_DOMAIN }}`)
        - traefik.http.routers.uptimekuma.tls=true
        - traefik.http.routers.uptimekuma.service=uptimekuma
        - traefik.http.routers.uptimekuma.middlewares=default-headers@file
        - traefik.http.services.uptimekuma.loadbalancer.server.port=3001
        - traefik.docker.network=traefik
        - com.centurylinklabs.watchtower.enable=${UPTIMEKUMA_WATCHTOWER_ENABLE:-true}
        - autoheal=${UPTIMEKUMA_AUTOHEAL:-true}

  ntfy:
      image: binwiederhier/ntfy:${NTFY_DOCKER_TAG:-latest}
      container_name: ${NTFY_CONTAINER_NAME:-ntfy}
      restart: ${NTFY_RESTART:-unless-stopped}
      mem_limit: ${NTFY_MEM_LIMIT:-200g}
      command:
        - serve
      networks:
        - traefik
      volumes:
        - /apps/ntfy/config:/etc/ntfy
        - /apps/ntfy/cache:/var/cache/ntfy
        # This volume has persistent data like attachments, etc.
        - /apps/ntfy/persistent:/var/lib/ntfy
        - /etc/localtime:/etc/localtime:ro
      environment:
        - PUID=${PUID:-1000}
        - PGID=${PGID:-1000}
        - TZ={{ host_timezone }}
        - NTFY_BASE_URL=https://${NTFY_HOST_NAME:-ntfy}.{{ APP0_HOST_DOMAIN }}
        - NTFY_CACHE_FILE=/var/lib/ntfy/cache.db
        - NTFY_CACHE_DURATION=24h
        - NTFY_AUTH_FILE=/var/lib/ntfy/auth.db
        - NTFY_AUTH_DEFAULT_ACCESS=deny-all
        - NTFY_BEHIND_PROXY=true
        - NTFY_ATTACHMENT_CACHE_DIR=/var/lib/ntfy/attachments
        # The ntfy user command allows you to add/remove/change users in the ntfy user database, as well as change passwords or roles (user or admin).
        # In practice, you'll often just create one admin user with ntfy user add --role=admin <username> https://docs.ntfy.sh/config/?h=web+push#users-and-roles
        - NTFY_ENABLE_LOGIN=${NTFY_LOGIN:-true}
        - NTFY_UPSTREAM_BASE_URL=${NTFY_UPSTREAM:-https://ntfy.sh}
        # You must configure web-push-public/private key, web-push-file, and web-push-email-address below to enable Web Push.
        # Run "ntfy webpush keys" to generate the keys. You can do this by shelling into the container: docker exec -it ntfy /bin/sh
        - NTFY_WEB_PUSH_PUBLIC_KEY={{ NTFY_WP_PUBLIC_KEY }}
        - NTFY_WEB_PUSH_PRIVATE_KEY={{ NTFY_WP_PRIVATE_KEY }}
        - NTFY_WEB_PUSH_FILE=/var/lib/ntfy/webpush.db
        - NTFY_WEB_PUSH_EMAIL_ADDRESS={{ SMTP_FROM }}
        - NTFY_LOG_LEVEL=${NTFY_LOG_LEVEL:-info}
      healthcheck:
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
      labels:
        - joyride.host.name=${NTFY_HOST_NAME:-ntfy}.{{ APP0_HOST_DOMAIN }}
        - traefik.enable=${NTFY_TRAEFIK_ENABLED:-true}
        - traefik.http.routers.ntfy.entrypoints=websecure
        - traefik.http.routers.ntfy.rule=Host(`${NTFY_HOST_NAME:-ntfy}.{{ APP0_HOST_DOMAIN }}`)
        - traefik.http.services.ntfy.loadbalancer.server.port=80
        - autoheal=${NTFY_AUTOHEAL_ENABLED:-true}

  shlink:
    image: ghcr.io/shlinkio/shlink:${SHLINK_DOCKER_TAG:-latest}
    container_name: ${SHLINK_CONTAINER_NAME:-shlink}
    restart: ${SHLINK_RESTART:-unless-stopped}
    mem_limit: ${SHLINK_MEM_LIMIT:-200g}
    networks:
      - traefik
    volumes:
      - /apps/shlink:/etc/shlink/data
      - /etc/localtime:/etc/localtime:ro
    user: ${PUID:-1000}
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ={{ host_timezone }}
      - DEFAULT_DOMAIN=l.{{ APP0_HOST_DOMAIN }}
      - IS_HTTPS_ENABLED=${SHLINK_HTTPS_ENABLED:-true}
      # - SHELL_VERBOSITY=3 # Uncomment to get better logs
      #- GEOLITE_LICENSE_KEY=${SHLINK_GEOLITE_KEY} # optional
    labels:
      - joyride.host.name=l.{{ APP0_HOST_DOMAIN }}
      - traefik.enable=${SHLINK_TRAEFIK_ENABLED:-true}
      - traefik.http.routers.shlink.entrypoints=websecure
      - traefik.http.routers.shlink.rule=Host(`l.{{ APP0_HOST_DOMAIN }}`)
      - traefik.http.services.shlink.loadbalancer.server.port=8080
      - autoheal=${SHLINK_AUTOHEAL_ENABLED:-true}

  spacebin:
    image: spacebinorg/spirit:${SPACEBIN_DOCKER_TAG:-latest}
    container_name: ${SPACEBIN_CONTAINER_NAME:-spacebin}
    restart: ${SPACEBIN_RESTART:-unless-stopped}
    mem_limit: ${SPACEBIN_MEM_LIMIT:-200g}
    networks:
      - traefik
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ={{ host_timezone }}
      - SPIRIT_CONNECTION_URI={{ SPACEBIN_CONNECTION_URI }}
      - SPIRIT_EXPIRATION_AGE=90
      - SPIRIT_ID_LENGTH=${SPACEBIN_ID_LENGTH:-8}
      - SPIRIT_ID_TYPE=${SPACEBIN_ID_TYPE:-"key"} # possible values are 'key' or 'phrase'
    labels:
      - joyride.host.name=paste.{{ APP0_HOST_DOMAIN }}
      - traefik.enable=${SPACEBIN_TRAEFIK_ENABLED:-true}
      - traefik.http.routers.spacebin.entrypoints=websecure
      - traefik.http.routers.spacebin.rule=Host(`paste.{{ APP0_HOST_DOMAIN }}`)
      - traefik.http.services.spacebin.loadbalancer.server.port=9000
      - traefik.http.routers.spacebin.middlewares=default-headers@file
      - autoheal=${SPACEBIN_AUTOHEAL_ENABLED:-true}
  spacebin-db:
    image: postgres:16.3-alpine@sha256:36ed71227ae36305d26382657c0b96cbaf298427b3f1eaeb10d77a6dea3eec41
    container_name: spacebin-db
    restart: ${SPACEBIN_RESTART:-unless-stopped}
    networks:
      - traefik
    environment:
      - POSTGRES_USER=${SPACEBIN_POSTGRES_USER:-spacebin}
      - POSTGRES_PASSWORD={{ SPACEBIN_POSTGRES_PASSWORD }}
      - POSTGRES_DB=${SPACEBIN_POSTGRES_DB:-spacebin}
    volumes:
      - /apps/spacebin/db:/var/lib/postgresql/data

networks:
  traefik:
    driver: bridge
