networks:
  proxy:
    external: true

services:
  jellystat-db:
    image: 'postgres:15.2@sha256:78a275d4c891f7b3a33d3f1a78eda9f1d744954d9e20122bfdc97cdda25cddaf'
    shm_size: 1gb
    networks:
      - proxy
    container_name: jellystat-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: jellystat
      POSTGRES_PASSWORD: {{ JELLYSTAT_POSTGRES_PASSWORD }}
    volumes:
      - './jellystat/database:/var/lib/postgresql/data'
  jellystat:
    image: 'cyfershepard/jellystat:1.1.7@sha256:e182aedd122e13be511c59f0462e0d9e48a67c7341a5f3c1f11b7aa6ab6d2291'
    container_name: jellystat
    restart: unless-stopped
    networks:
      - proxy
    environment:
      POSTGRES_USER: jellystat
      POSTGRES_PASSWORD: {{ JELLYSTAT_POSTGRES_PASSWORD }}
      POSTGRES_IP: jellystat-db
      POSTGRES_PORT: 5432
      JWT_SECRET: {{ JELLYSTAT_JWT_SECRET }}
      TZ: America/New_York
    labels:
        - traefik.enable=true
        - traefik.http.routers.jellystat.rule=Host(`jellystat.{{ TRAEFIK_HOST_DOMAIN }}`)
        - traefik.http.routers.jellystat.entrypoints=https
        - traefik.http.routers.jellystat.middlewares=default-headers@file
        - traefik.http.routers.jellystat.tls=true
        - traefik.http.routers.jellystat.service=jellystat
        - traefik.http.services.jellystat.loadbalancer.server.port=3000
    volumes:
      - './jellystat/backup-data:/app/backend/backup-data'
    depends_on:
      - jellystat-db
