---
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets:
{% for host in all_hosts %}
          - '{{ host }}:12345'
{% endfor %}
    metrics_path: '/metrics'

  - job_name: 'docker_containers'
    static_configs:
      - targets:
{% for host in docker_hosts %}
          - '{{ host }}:12345'
{% endfor %}
    metrics_path: '/metrics'

  - job_name: 'cadvisor'
    static_configs:
      - targets:
{% for host in docker_hosts %}
          - '{{ host }}:12345'
{% endfor %}
    metrics_path: '/metrics'
