---
- name: Build a list of all hosts that we will use to build the Prometheus scrape configs.
  ansible.builtin.set_fact:
    docker_hosts: "{{ groups['docker'] }}"
    all_hosts: "{{ groups['all']}}"

- name: Create the Prometheus config file.
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: /apps/grafana-stack/prometheus/prometheus.yml
    owner: 1000
    group: 1000
    mode: '0755'
  notify: restart prometheus
