options {
    directory "/var/cache/bind";

    listen-on port {{ bind_dns_listen_port }} { 127.0.0.1; };   // Bind to localhost on port 5335
    listen-on-v6 { none; };                // Enable IPv6

    dnssec-validation auto;               // Enable DNSSEC validation

    // Reduce EDNS buffer size to prevent fragmentation issues
    edns-udp-size 1232;
    max-udp-size 1232;

    // Performance and security settings
    minimal-responses yes;                // Reduce response size
    recursion yes;                         // Enable recursion (needed for a resolver)
    prefetch 1 2;                          // Pre-fetch close-to-expiry cache entries

    // Harden settings
    rrset-order { order random; };         // Prevent cache snooping
    allow-query { localhost; };            // Only allow local queries
    allow-recursion { localhost; };        // Only allow recursion from localhost
    allow-query-cache { localhost; };      // Restrict cache queries

    // Private network addresses
    deny-answer-addresses {
        192.168.0.0/16;
        169.254.0.0/16;
        172.16.0.0/12;
        10.0.0.0/8;
        fd00::/8;
        fe80::/10;
    };
};
