---
services:
  netalertx:
    network_mode: host
    restart: unless-stopped
    read_only: true
    mem_limit: 2048m
    mem_reservation: 1024m
    cpu_shares: 512
    pids_limit: 512
    cap_drop:
      - ALL
    cap_add:
      - NET_RAW
      - NET_ADMIN
      - NET_BIND_SERVICE
    volumes:
      - type: bind
        source: ./netalertx/data
        target: /data
        read_only: false
      - type: tmpfs
        target: /app/api
      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true
    environment:
      - PUID=200
      - PGID=300
      - TZ={{ host_timezone }}
      - PORT=20211
    container_name: netalertx
    image: jokobsk/netalertx:26.2.6@sha256:f47a8020ae61fd668e1580cd5014e1a34e8ffa80360b1652e6deb3a7347f0238
    tmpfs:
      - "/tmp:uid=20211,gid=20211,mode=1700,rw,noexec,nosuid,nodev,async,noatime,nodiratime"
