services:
  traefik:
    image: traefik:v3.6.7@sha256:a9890c898f379c1905ee5b28342f6b408dc863f08db2dab20e46c267d1ff463a
    container_name: ${TRAEFIK_CONTAINER_NAME:-traefik}
    restart: ${TRAEFIK_RESTART:-unless-stopped}
    mem_limit: ${TRAEFIK_MEM_LIMIT:-100m}
    networks:
      - traefik
    extra_hosts:
      - host.docker.internal:172.17.0.1
    environment:
      - CF_API_EMAIL={{ CF_API_EMAIL }}
      - CF_DNS_API_TOKEN={{ CF_DNS_API_TOKEN }}
    ports:
      - 80:80
      - 443:443
    volumes:
      - /apps/traefik/letsencrypt:/letsencrypt
      - /apps/traefik/enabled:/enabled
      - /etc/localtime:/etc/localtime:ro
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - --api
      - --api.insecure=${TRAEFIK_API_INSECURE:-true}
      - --api.dashboard=true
      - --log.level=ERROR
      - --accesslog=true
      - --entryPoints.metrics.address=:8082
      - --metrics.prometheus.entryPoint=metrics
      - --providers.docker
      - --providers.docker.exposedByDefault=false
      - --providers.file.watch=true
      - --providers.file.directory=/enabled
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains[0].main={{ ONRAMP_HOST_DOMAIN }}
      - --entrypoints.websecure.http.tls.domains[0].sans=*.{{ ONRAMP_HOST_DOMAIN }}
      - --serverstransport.insecureskipverify=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=${DNS_CHALLENGE_PROVIDER:-cloudflare}
      - --certificatesresolvers.letsencrypt.acme.email={{ CF_API_EMAIL }}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --certificatesResolvers.letsencrypt.acme.dnsChallenge.delayBeforeCheck=120
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,1.0.0.1:53
      - --certificatesresolvers.letsencrypt.acme.caserver=https://acme-v02.api.letsencrypt.org/directory
    labels:
      - joyride.host.name=onramp.{{ ONRAMP_HOST_DOMAIN }}
      - traefik.http.routers.traefik.rule=Host(`onramp.{{ ONRAMP_HOST_DOMAIN }}`)  && (PathPrefix(`/traefik`) || PathPrefix(`/api`))
      - traefik.http.routers.traefik.middlewares=traefik_strip
      - traefik.http.middlewares.traefik_strip.stripprefix.prefixes=/traefik
      - traefik.enable=true
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.rule=Host(`onramp.{{ ONRAMP_HOST_DOMAIN }}`)
      # https://doc.traefik.io/traefik/operations/dashboard/#insecure-mode
      # insecure mode is incompatible with the custom API base path option.
      # we will need to use a custom override if you want the dashboard behind authentication%

  immich:
    container_name: immich
    image: ghcr.io/immich-app/immich-server:v2.0.1@sha256:8286638680f0a38a7cb380be64ed77d1d1cfe6d0e0b843f64bff92b24289078d
    volumes:
      - immich-nfs-upload:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    networks:
      - traefik
      - immich-db
    user: "${PUID:-1000}"
    environment:
      - PGID=${PGID:-1000}
      - PUID=${PUID:-1000}
      - DB_PASSWORD={{ IMMICH_DB_PASSWORD }}
      - DB_HOSTNAME=${IMMICH_DB_HOSTNAME:-immich_database}
      - DB_USERNAME=${IMMICH_POSTGRES_USER:-postgres}
      - DB_DATABASE_NAME=${IMMICH_POSTGRES_DB:-immich}
      - REDIS_HOSTNAME=${IMMICH_REDIS_CONTAINER_NAME:-immich_redis}
      - UPLOAD_LOCATION=/apps/immich/upload
      - TYPESENSE_API_KEY={{ IMMICH_TYPESENSE_API_KEY }}
    depends_on:
      - redis
      - database
    restart: ${IMMICH_RESTART_POLICY:-unless-stopped}
    labels:
      - joyride.host.name=immich.{{ ONRAMP_HOST_DOMAIN }}
      - traefik.enable=true
      - traefik.docker.network=traefik
      - traefik.http.routers.immich.entrypoints=websecure
      - traefik.http.routers.immich.rule=Host(`immich.{{ ONRAMP_HOST_DOMAIN }}`)
      - traefik.http.services.immich.loadbalancer.server.port=2283
      - autoheal=true

  immich-machine-learning:
    container_name: immich_machine_learning
    user: "1000"
    image: ghcr.io/immich-app/immich-machine-learning:v2.0.1@sha256:45626a33361ef7ed361de41b0d2dc19e5949442cdf0a8eb64b157dc8a04e9855
    networks:
      - immich-db
    volumes:
      - /apps/immich/model-cache:/cache
    restart: ${IMMICH_RESTART_POLICY:-unless-stopped}

  redis:
    container_name: immich_redis
    networks:
      - immich-db
    image: docker.io/valkey/valkey:8-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
    healthcheck:
      test: redis-cli ping || exit 1
    restart: ${IMMICH_RESTART_POLICY:-unless-stopped}

  database:
    container_name: immich_database
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:41eacbe83eca995561fe43814fd4891e16e39632806253848efaf04d3c8a8b84
    networks:
      - immich-db
    environment:
      - POSTGRES_PASSWORD={{ IMMICH_DB_PASSWORD }}
      - POSTGRES_USER=${IMMICH_POSTGRES_USER:-postgres}
      - POSTGRES_DB=${IMMICH_POSTGRES_DB:-immich}
      - POSTGRES_INITDB_ARGS='--data-checksums'
    volumes:
      - /apps/immich/db:/var/lib/postgresql/data
    restart: ${IMMICH_RESTART_POLICY:-unless-stopped}

  lubelog:
    image: ghcr.io/hargata/lubelogger:v1.5.8@sha256:ec072f19b7b9f90d38f23507ac5bb0c9295fbf70470e91e7f778a7ef51df7eef
    container_name: ${LUBELOG_CONTAINER_NAME:-lubelog}
    restart: ${LUBELOG_RESTART:-unless-stopped}
    mem_limit: ${LUBELOG_MEM_LIMIT:-200g}
    networks:
      - traefik
    volumes:
      - /apps/lubelog/config:/App/config
      - /apps/lubelog/data:/App/data
      - /apps/lubelog/translations:/App/wwwroot/translations
      - /apps/lubelog/documents:/App/wwwroot/documents
      - /apps/lubelog/images:/App/wwwroot/images
      - /apps/lubelog/temp:/App/wwwroot/temp
      - /apps/lubelog/log:/App/log
      - /apps/lubelog/keys:/root/.aspnet/DataProtection-Keys
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ={{ host_timezone }}
      - LC_ALL=${LUBELOG_LC_ALL:-en_US.UTF-8}
      - LANG=${LUBELOG_LANG:-en_US.UTF-8}
      - MailConfig__EmailServer={{ SMTP_SERVER_ADDRESS }}
      - MailConfig__EmailFrom={{ SMTP_FROM }}
      - MailConfig__UseSSL=true
      - MailConfig__Port={{ SMTP_PORT }}
      - MailConfig__Username={{ SMTP_USERNAME }}
      - MailConfig__Password={{ SMTP_PASSWORD }}
      - LOGGING__LOGLEVEL__DEFAULT=Error

    labels:
      - joyride.host.name=lubelog.{{ ONRAMP_HOST_DOMAIN }}
      - traefik.enable=${LUBELOG_TRAEFIK_ENABLED:-true}
      - traefik.http.routers.lubelog.entrypoints=websecure
      - traefik.http.routers.lubelog.rule=Host(`lubelog.{{ ONRAMP_HOST_DOMAIN }}`)
      - traefik.http.services.lubelog.loadbalancer.server.port=8080
      - autoheal=${LUBELOG_AUTOHEAL_ENABLED:-true}

  netbox:
    image: lscr.io/linuxserver/netbox:v4.4.9-ls320@sha256:e380494f813bdc35fdb8eacefb16a5ddd5b85acc21c2a3bf07d4722eb1dc0930
    container_name: ${NETBOX_CONTAINER_NAME:-netbox}
    restart: unless-stopped
    depends_on:
      - netbox-postgresql
      - netbox-redis
    healthcheck:
      start_period: 90s
    networks:
      - traefik
    volumes:
      - /apps/netbox:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ={{ host_timezone }}
      - SKIP_SUPERUSER=false
      #Note: default username for the superuser is "admin", not the email address.
      - SUPERUSER_EMAIL={{ CF_API_EMAIL }}
      - SUPERUSER_PASSWORD={{ NETBOX_SUPERUSER_PASS }}
      - ALLOWED_HOST=netbox.{{ ONRAMP_HOST_DOMAIN }}
      - DB_NAME=${PG_DB_NETBOX:-netbox}
      - DB_USER=${PG_USER_NETBOX:-netbox}
      - DB_PASSWORD= {{ PG_PASS_NETBOX }}
      - DB_HOST=netbox-postgresql
      #- DB_PORT=5432
      - REDIS_HOST=netbox_redis
      #- REDIS_PORT=<REDIS_PORT>
      #- REDIS_PASSWORD=<REDIS_PASSWORD>
      #- REDIS_DB_TASK=<REDIS_DB_TASK>
      #- REDIS_DB_CACHE=<REDIS_DB_CACHE>
    labels:
      - joyride.host.name=netbox.{{ ONRAMP_HOST_DOMAIN }}
      - traefik.enable=true
      - traefik.http.routers.netbox.entrypoints=websecure
      - traefik.http.routers.netbox.rule=Host(`netbox.{{ ONRAMP_HOST_DOMAIN }}`)
      - traefik.http.services.netbox.loadbalancer.server.scheme=http # enable if the service wants to connect over https
      - traefik.http.routers.netbox.service=netbox
      - traefik.http.services.netbox.loadbalancer.server.port=8000
      - autoheal=true

  netbox-postgresql:
    image: postgres:16.4@sha256:e62fbf9d3e2b49816a32c400ed2dba83e3b361e6833e624024309c35d334b412
    container_name: netbox_postgresql
    restart: unless-stopped
    networks:
      - traefik
    user: "1000:1000"
    volumes:
      - /apps/netbox/postgresql:/var/lib/postgresql/data
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - POSTGRES_PASSWORD={{ PG_PASS_NETBOX }}
      - POSTGRES_USER=${PG_USER:-netbox}
      - POSTGRES_DB=${PG_DB:-netbox}
    labels:
      - traefik.enable=false
      - autoheal=true

  netbox-redis:
    image: redis:alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    container_name: netbox_redis
    restart: unless-stopped
    networks:
      - traefik
    volumes:
      - netbox-redis:/data
    labels:
      - traefik.enable=false
      - autoheal=true

  pinchflat:
    image: ghcr.io/kieraneglin/pinchflat:latest@sha256:01b4f98aabaf3f5fe394213f7a32578c9e84e42080f52e2f8334021a4473b202
    container_name: ${PINCHFLAT_CONTAINER_NAME:-pinchflat}
    restart: ${PINCHFLAT_RESTART:-unless-stopped}
    mem_limit: ${PINCHFLAT_MEM_LIMIT:-200g}
    networks:
      - traefik
    volumes:
      - /apps/pinchflat/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /apps/pinchflat/media/downloads:/downloads
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ={{ host_timezone }}
    labels:
      - joyride.host.name=pinchflat.{{ ONRAMP_HOST_DOMAIN }}
      - traefik.enable=${PINCHFLAT_TRAEFIK_ENABLED:-true}
      - traefik.http.routers.pinchflat.entrypoints=websecure
      - traefik.http.routers.pinchflat.rule=Host(`pinchflat.{{ ONRAMP_HOST_DOMAIN }}`)
      - traefik.http.routers.pinchflat.middlewares=default-headers@file
      - traefik.http.services.pinchflat.loadbalancer.server.port=8945
      - autoheal=${PINCHFLAT_AUTOHEAL_ENABLED:-true}

volumes:
 netbox-redis:
 immich-nfs-upload:
    driver_opts:
      type: nfs
      o: "addr={{ IMMICH_ROOT_NFS_SERVER }},nolock,noatime,soft,rw"
      device: ":{{ IMMICH_UPLOAD_NFS_SERVER_PATH }}"
 media:
    driver_opts:
      type: nfs
      o: "addr={{ IMMICH_ROOT_NFS_SERVER }},nolock,noatime,soft,rw"
      device: ":/mnt/tank/media"
networks:
  traefik:
    external: true
  immich-db:
