
# Service definition for Debian / Ubuntu based webservers.

define host {

    name        deb-webserver
    use         deb-server
    register    0
    hostgroups deb-webserver
}

# Check the IMAP server certificate expiration date.

define service {

    name   check-imap-certificate
    use generic-service 
    hostgroup_name deb-webserver
    service_description  Check HTTPS cert date.
    check_interval 10000 
	check_command check_https_cert
}
