---

services:
  ersatztv:
    image: jasongdove/ersatztv:v26.2.0@sha256:b46b2344c11bc67bdd39f320acf1c3bd36bfd77b9ddf250a3884ede9cb1090d5
    container_name: ersatztv
    environment:
      - TZ=${ERSATZ_TZ:-America/New_York}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,video
    ports:
      - 8409:8409
    volumes:
      - /apps/ersatztv/config:/root/.local/share/ersatztv
      - media:/media:ro
      - type: tmpfs
        target: /root/.local/share/etv-transcode
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped

  jellyfin-newsletter:
      container_name: jellyfin-newsletter
      image: 'ghcr.io/seaweedbraincy/jellyfin-newsletter:0.10.1@sha256:4e9d3b9e478344341ba89a9c3edbe2427c77b0889aa9c66f232f9e88eb98e266'
      environment:
        USER_UID: 1000
        USER_GID: 1000
        TZ: 'America/New_York'
      volumes:
        - '/apps/jellyfin-newsletter/config:/app/config'

  jellyfin:
    image: linuxserver/jellyfin:10.11.6@sha256:7b29a93a6020f8d5f6c60df381a5ab7d57aa83cda4beb3631bd2bfbbcb1497af
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - DOTNET_USE_POLLING_FILE_WATCHER=1 # Try to avoid hitting inotify-watchers limits with large libraries.
      - LIBVA_DRIVER_NAME=iHD
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    group_add:
          - "992"
    volumes:
      - /apps/jellyfin/config:/config
      - /apps/jellyfin/cache:/cache
      - media:/media
      - type: tmpfs
        target: /transcode
        tmpfs:
          size: "4294967296"
    restart: 'unless-stopped'

  navidrome:
    image: deluan/navidrome:0.59.0@sha256:4edc8a1de3e042f30b78a478325839f4395177eb8201c27543dccc0eba674f23
    user: 1000:1000
    ports:
      - 4533:4533
    restart: unless-stopped
    container_name: navidrome
    environment:
      - ND_SCANSCHEDULE=1h
      - ND_LOGLEVEL=info
      - ND_SESSIONTIMEOUT=999h
      - ND_MUSICFOLDER=/mnt/media/music
      - ND_BASEURL=https://music.lan.bladewdr.xyz
      - ND_DEFAULTTHEME=Catppuccin Macchiato
      - ND_ENABLEINSIGHTSCOLLECTOR=false
    volumes:
      - /apps/navidrome/config:/data
      - media:/mnt/media:ro

  plex:
    image: plexinc/pms-docker:1.42.2.10156-f737b826c@sha256:9c03c26b9479ba9a09935f3367459bfdc8d21545f42ed2a13258983c5be1b252
    container_name: plex
    restart: unless-stopped
    volumes:
      - media:/media
      - /apps/plex/config:/config
      - /apps/plex/config/transcode:/transcode
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    environment:
      - TZ=America/New_York
      - PLEX_UID=${PUID:-1000}
      - PLEX_GID=${PGID:-1000}
      - HOSTNAME=plex.lan.bladewdr.xyz
      - ADVERTISE_IP=https://plex.lan.bladewdr.xyz
      - VERSION=docker

  unmanic:
    container_name: unmanic
    image: josh5/unmanic:latest@sha256:d62bcfe8230260e5d5de47796c498867e81d4ee5c70799a302caed91b5870b73
    devices:
      - /dev/dri:/dev/dri
    ports:
      - 8888:8888
    group_add:
          - "992"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - ./config:/config
      - ./tmp:/tmp/unmanic
      - media:/mnt/media

  feishin:
    image: ghcr.io/jeffvli/feishin:1.4.2@sha256:d4f2bea6c56749c141dbf636cf8820319a2fe1c89e1bc7ba412d2ec288179c1c
    container_name: feishin
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
      - SERVER_NAME=Navidrome
      - SERVER_LOCK=${FEISHIN_SERVER_LOCK:-true} # When true AND name/type/url are set, only username/password can be toggled
      - SERVER_TYPE=navidrome
      - SERVER_URL=https://{{ NAVIDROME_HOST }}
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - UMASK=002
      - TZ=America/New_York
    ports:
      - 9180:9180

volumes:
  media:
    driver_opts:
      type: nfs
      o: "addr=10.13.37.22,nolock,noatime,soft,rw"
      device: ":/mnt/tank/media"
