---
- name: Restart alloy service
  ansible.builtin.service:
    name: alloy
    state: restarted

- name: reload containers
  ansible.builtin.command:
    cmd: docker compose up -d
    chdir: "{{ alloy_docker_config_dir }}"
  when:
    - not ansible_check_mode

- name: restart alloy container
  ansible.builtin.command:
    cmd: docker restart alloy
  when:
    - not ansible_check_mode

- name: restart prometheus
  ansible.builtin.command: docker restart prometheus

- name: restart alertmanager
  ansible.builtin.command: docker restart alertmanager

- name: grafana compose up
  ansible.builtin.command:
    cmd: docker compose -f /apps/compose.yaml up -d
  when:
    - not ansible_check_mode

- name: Restart zfs_exporter service
  systemd:
    name: zfs_exporter
    enabled: true
    daemon_reload: true
    state: restarted
