---

- hosts: all

  pre_tasks:

  - name: Update package cache.
    ansible.builtin.package:
      update_cache: true
      cache_valid_time: true
    become: true
    changed_when: false
    tags:
      - always

- hosts: lan
  become: true
  vars_files:
    - secrets.yml
  roles:
    - bladewdr.debcache
  tags: debcache

- hosts: all
  become: true
  vars_files:
    - secrets.yml
  roles:
    - bladewdr.basics
    - bladewdr.chezmoi
    - ansible-role-starship
  tags: basics

- hosts: dns
  become: true
  roles:
    - bladewdr.adguardhome
  tags: dns

- hosts: gitlab
  become: true
  vars_files:
    - secrets.yml
  roles:
    - bladewdr.qemu
    - bladewdr.gitlab
  tags: gitlab

- hosts: docker
  become: true
  vars_files:
    - secrets.yml
  roles:
    - geerlingguy.docker
    # - bladewdr.dockcheck
  tags: docker

  tasks:
  
    - name: Set up cron job to prune old images once a week.
      ansible.builtin.cron:
        name: Docker Image Cleanup
        weekday: 4
        minute: 0
        hour: 23
        job: "docker image prune -af"

- hosts: docker
  vars_files:
    - secrets.yml
  become: true
  roles:
    - ansible-role-docker-compose-generator
  tags: compose

  tasks:
    - name: Run docker compose up.
      ansible.builtin.shell: |
        cd {{ docker_compose_generator_output_path }}
        docker compose up -d --remove-orphans
      changed_when: false

# Remember you can use the nagios-update tag to only update your host definitions.
- hosts: all
  become: true
  vars_files:
    - secrets.yml
  roles:
    - bladewdr.nagios
  tags: nagios

- hosts: certbot
  become: true
  vars_files:
    - secrets.yml
  roles:
    - bladewdr.certbot
  tags: certbot

- hosts: webservers
  become: true
  vars_files:
    - secrets.yml
  roles:
    - bladewdr.apache
  tags: webserver

- hosts: nextcloud
  become: true
  vars_files:
    - secrets.yml
  tags: nextcloud
  tasks:
    - name: Create /opt/bin if it doesn't exist.
      ansible.builtin.file:
        path: /opt/bin
        owner: root
        group: root
        mode: '0755'
        state: directory

    - name: Create the NextCloud app update script under /opt/bin.
      ansible.builtin.copy:
        src: nextcloud-appupdate.sh
        dest: /opt/bin/nextcloud-appupdate.sh
        owner: root
        group: root
        mode: '0755'

    - name: Create a cron job to run the script every week on Saturday.
      ansible.builtin.cron:
        name: Nextcloud App Update and Database maintenance.
        job: "/opt/bin/nextcloud-appupdate.sh"
        minute: "0"
        hour: "14"
        weekday: "6"
        user: root

- hosts: all
  become: true
  vars_files:
    - secrets.yml
  roles:
    - bladewdr.monitoring
  tags: monitoring
