---

- hosts: all
  become: true
  vars_files:
    - secrets.yml

  tasks:

    - name: Create User.
      user:
        name: scott
        groups: sudo
        append: yes
        shell: /bin/bash
        create_home: true
        password: "{{ admin_user_password_hash }}"

    - name: Set authorized keys taken from url using lookup
      ansible.posix.authorized_key:
        user: scott
        state: present
        key: "{{ lookup('url', 'https://github.com/bladewdr.keys', split_lines=False) }}"
