#SPDX-License-Identifier: MIT-0
---

- name: Install Alloy
  when: "'docker' not in group_names"
  ansible.builtin.include_role:
    name: grafana.grafana.alloy
  vars:
    alloy_config: |
      loki.source.journal "host" {
        forward_to = [loki.relabel.syslog.receiver]
      }

      loki.relabel "syslog" {
        forward_to = [loki.write.loki.receiver]

        rule {
          target_label = "job"
          replacement  = "syslog"
        }

        rule {
          target_label = "host"
          replacement  = "{{ inventory_hostname }}"
        }
      }

      loki.write "loki" {
        endpoint {
          url = "{{ grafana_loki_endpoint }}/loki/api/v1/push"
        }
      }

- name: Docker Alloy install block
  when: "'docker' in group_names"
  block:
    - name: Create target directory.
      ansible.builtin.file:
        path: "{{ alloy_docker_config_dir }}/config"
        state: directory
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        mode: '0755'

    - name: Create Alloy config file for Docker.
      ansible.builtin.template:
        src: alloy-docker.j2 
        dest: "{{ alloy_docker_config_dir }}/config/config.alloy"
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        mode: '0644'
      notify: restart alloy container

    - name: Copy the Alloy docker-compose file.
      ansible.builtin.copy:
        src: docker-compose.yml
        dest: "{{ alloy_docker_config_dir }}/docker-compose.yml"
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        mode: '0644'
      notify: reload alloy container
