---

- name: Set fact for Alloy config file contents.
  ansible.builtin.set_fact:
    alloy_template: "{{ lookup('template', '../templates/alloy.j2') }}"
    alloy_template_rsyslog: "{{ lookup('template', '../templates/alloy-rsyslog.j2') }}"

- name: Install Alloy
  when:
    - "'docker' not in group_names"
    - "inventory_hostname != rsyslog_receiver_server"
  ansible.builtin.include_role:
    name: grafana.grafana.alloy
  vars:
    alloy_config: "{{ alloy_template }}"

- name: Install Alloy with rsyslog UDP receiver.
  when: "inventory_hostname == rsyslog_receiver_server"
  ansible.builtin.include_role:
    name: grafana.grafana.alloy
  vars:
    alloy_config: "{{ alloy_template_rsyslog }}"

- name: Docker Alloy install block
  when:
    - "'docker' in group_names" 
    - "inventory_hostname != rsyslog_receiver_server"
  block:
    - name: Create target directory.
      ansible.builtin.file:
        path: "{{ alloy_docker_config_dir }}/config"
        state: directory
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        mode: '0755'

    - name: Create Alloy config file for Docker.
      ansible.builtin.template:
        src: alloy-docker.j2 
        dest: "{{ alloy_docker_config_dir }}/config/config.alloy"
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        mode: '0644'
      notify: restart alloy container

    - name: Copy the Alloy docker-compose file.
      ansible.builtin.copy:
        src: alloy-compose.yml
        dest: "{{ alloy_docker_config_dir }}/docker-compose.yml"
        owner: "{{ admin_username }}"
        group: "{{ admin_username }}"
        mode: '0644'
      notify: reload containers
