services:
  bentopdf:
    image: bentopdf/bentopdf@sha256:2fb164ff0dbe11f38dfb00545b5e3d7022127fa84339e5cf31f0b693c5d837bd
    container_name: bentopdf
    restart: unless-stopped
    networks:
        - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.bentopdf.rule=Host(`pdf.{{ TRAEFIK_HOST_DOMAIN }}`)
      - traefik.http.routers.bentopdf.entrypoints=https
      - traefik.http.routers.bentopdf.middlewares=default-headers@file,https-redirectscheme@file,dynamic
      - traefik.http.routers.bentopdf.tls=true
      - traefik.http.routers.bentopdf.service=bentopdf
      - traefik.http.services.bentopdf.loadbalancer.server.port=8080
      - sablier.enable=true
      - sablier.group=sablier
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8080/ >/dev/null || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
