services:
  forgejo-runner:
    command: forgejo-runner -c /config.yml daemon
    #command: '/bin/sh -c "while : ; do sleep 1 ; done ;"'
    container_name: forgejo-runner1
    image: code.forgejo.org/forgejo/runner:12@sha256:7ec12a6c2ae2f0e733c8fb57a6c8de07a54cf236ae7edc9ef31623e1cfb3dd9d
    networks:
      - proxy
    ports:
      - 6773:6773
    group_add:
      - 112
    restart: unless-stopped
    environment:
      -  FORGEJO_INSTANCE_URL=https://{{ FORGEJO_HOST }}
      -  FORGEJO_REGISTRATION_TOKEN={{ FORGEJO_RUNNER_REG_TOKEN }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./forgejo-runner/data:/data
      - ./forgejo-runner/config.yml:/config.yml:ro
      - mkdocs-site:/site

volumes:
  mkdocs-site:
    external: true
