---

- name: Install basic packages.
  ansible.builtin.apt:
    name: "{{ basic_packages_deb }}"
    state: present
    update_cache: true
    cache_valid_time: 3600
  when: ansible_os_family == 'Debian'

- name: Configure unattended-upgrades.
  block:
    - name: Copy 20auto-upgrades.
      ansible.builtin.template:
        src: 20auto-upgrades
        dest: /etc/apt/apt.conf.d/20auto-upgrades
        owner: root
        group: root
        mode: '0644'

    - name: Copy 50unattended-upgrades.
      ansible.builtin.template:
        src: 50unattended-upgrades
        dest: /etc/apt/apt.conf.d/50unattended-upgrades
        owner: root
        group: root
        mode: '0644'

- name: Check if Homebrew directory already exists.
  ansible.builtin.stat:
    path: "/home/linuxbrew/.linuxbrew"
  register: brew_installed

- name: Install Homebrew.
  ansible.builtin.include_tasks: Homebrew.yml
  when: not brew_installed.stat.exists and ansible_os_family == "Debian"

- name: Get the user ID of the Ansible service account.
  ansible.builtin.command: whoami
  register: homebrew_user
  become: false
  changed_when: false

- name: Get the current owner of the Homebrew directory.
  ansible.builtin.stat:
    path: "/home/linuxbrew/.linuxbrew/"
  register: homebrew_stat

- name: Set Homebrew directory permissions.
  ansible.builtin.file:
    dest: "/home/linuxbrew/.linuxbrew/"
    owner: "{{ homebrew_user.stdout }}"
    group: "{{ homebrew_user.stdout }}"
    mode: '0775'
    recurse: true
  when: homebrew_stat.stat.pw_name != homebrew_user.stdout

- name: Install specific packages via Homebrew.
  community.general.homebrew:
    name: "{{ item }}"
    state: present
    update_homebrew: true
  become: false
  loop: "{{ brew_packages }}"
  when: ansible_os_family == "Debian"
